body{
    font-family: sans-serif; 
    display: flex; 
    padding: 20px; 
    height: 100vh; 
    box-sizing: border-box; 
    
}
.izquierda{
    background-color:  #0e7c74;
    color: white;
    flex: 2;
    padding: 12px;
}
.derecha{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.fila{
    padding: 24px;
    flex:100%; 
    border: 1px solid lightgray;
}